*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	
} 
/*FUNÇAÕ DESSE "*":
-Tornar o site funcional nos diferentes dispostiivos*/

/*p{
	text-decoration: underline;
}
*/
/* BACKGROUND */
#bg{
	background-color: purple;
}
#bg main{
	width:100%;
	height:1000px;
	background-color:black;	
}

#bg main .elemento{
	width:50%;
	height:50%;
	background-color:white;
	margin-left:25%;
	background-attachment:fixed;
	background-size: cover;
}

#fonts{
	
	background-color:white;
	
}
#fonts2{
	
	background-color:white;
	
}
#fonts3{
	
	background-color:white;
	
}
/* FONTS */
 #fonts p{
	 
	 font-size:20px;
	 font-family:Arial;
	 font-weight: normal;
	 font-style: italic;
	 color: purple;
	 text-align: justify;
	 text-decoration:none;
	 text-indent: 20px;
	 line-height: 30px;
	 text-transform: uppercase;
	 word-spacing: 20px;
	 letter-spacing: 10px;
	 
 }
 
#fonts h1{
	
	text-decoration: overline underline;
	text-align:center;
	font-variant: small-caps;
	
}
 #fonts2 p{
	 
	 font-size:10pt;
	 font-family:Serif;
	 font-weight: normal;
	 font-style: bold;
	 color: gray;
	 text-align: right;
	 text-decoration:underline;
	 text-indent: 50px;
	 line-height: 100px;
	 text-transform: capitalize;
	 word-spacing: 0px;
	 letter-spacing: 40px;
	 
 }
 
#fonts2 h1{
	
	text-decoration: none;
	text-align:left;
	font-variant:normal;
	
}
 #fonts3 p{
	 
	 font-size:100%;
	 font-family:Georgia;
	 font-style: normal;
	 color: black;
	 text-align: center;
	 text-decoration:none;
	 text-indent: -20px;
	 line-height: -10px;
	 word-spacing: 10px;
	 letter-spacing: 10px;
	 font-variant: small-caps;
	 
 }
 
#fonts3 h1{
	 text-transform: capitalize;
	text-decoration: overline;
	text-align:bottom;
	
	
}

/* LINKS */

#links a:link{
	
	text-decoration:none;
	color:orange;
}

#links a:visited{
	
	color:lime;
	
}

#links a:focus{
	
	color:navy;
}

#links a:active{
	
	color: yellow;
}

#links a:hover{
	
	color:blue;
}
/* LISTAS */

#listas ul{
	list-style-type:circle;
	/*list-style-image: url("");*/
	list-style-position: inside;
}

/* BOX MODEL */

#box .display{
	
	width:220px;
	height:550px;
	background-color:red;
	padding:10px;
	/*border-width: 10px 15px 20px 25px;
	border-width: thin;*/
	border-width: medium;
	/*border-style: solid;
	border-style: dotted;
	border-style: dashed;
	border-style: groove;*/
	border-style:double;
	border-color:black;
	margin: 10px;
}
#box .visibility{
	
	width:220px;
	height:550px;
	background-color:red;
	padding:10px;
	/*border-width: 10px 15px 20px 25px;
	border-width: thin;*/
	border-width: medium;
	/*border-style: solid;
	border-style: dotted;
	border-style: dashed;
	border-style: groove;*/
	border-style:double;
	border-color:black;
	margin: 10px;
}


#box .visibility{
	
	visibility:hidden;
}
/* POSITION */

#position nav{
	
	position:fixed;
	width:100%;
	height:100px;
	background-color: blue;
	z-index: 1;
	bottom: 0px;
}

#position main{
	
	position:relative;
	width:100%;
	height:1000px;
	background-color: red;
}

#position div{
	
	position:absolute;
	width:50px;
	height:50px;
	background-color: green;
	left:50%;
	margin-left:-25px;
	top:50%;
	margin-top:-25px;
}

/* FLOAT */

#float nav{
	
	/*float:left;*/
	width:300px;
	/*height:100px;*/
	background-color: blue;
}

#float ul{
	
	list-style: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	overflow:hidden;
}

#float li{
	
	float:left;
	margin-right:10px;
}

#float main{
	
	float:right;
	width:500px;
	height:100px;
	background-color: red;
	
}

#float .floatleft{
	
	float: left;
	width:100px;
	height:40px;
	background-color: orange;
	border: 1px solid black;
}

#float .clear{
	
	clear:both;
}

/* SELETOR COMPLEXO */

#seletor h1 + p{
	
	color: red;
}

#seletor h1 + p + p{
	
	color: blue;
}

#seletor a[href]{
	
	/*color: red;*/
}

#seletor a[href="www.google.com.br"]{
	
	/*color: green;*/
}

#seletor a[href^="www"]{
	
	/*color: orange;*/
}

#seletor a[href$=".br"]{
	
	/*color: lime;*/
}

#seletor a[href*="google"]{
	
	color: yellow;
}

#seletor div p > a{
	
	color: navy;
}

#seletor input:checked{
	
	height:100px;
	width:100px;
}